@import "../../app.scss";

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
  position: fixed;
  z-index: 999;

  @include mobile {
    display: none;
  }
}

.navbar {
  height: 100px;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    span {
      margin-left: 20px;
    }

    @include mobile {
      justify-content: flex-end;
      padding: 20px;
    }
  }

  span {
    font-weight: bold;

    @include mobile {
      display: none;
    }
  }

  .social {
    .resume {
      button {
        background-color: orange;
        border: none;
        border-radius: 10px;
        padding: 10px;
        font-weight: bold;
        width: 100px;
        margin-right: 20px;
        cursor: pointer;
        &:hover {
          background-color: rebeccapurple;
        }

        @include mobile {
          width: 70px;
          padding: 5px;
          margin-right: 5px;
        }
      }
    }
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

    img {
      width: 18px;
      height: 18px;
    }
  }
}
